body {
  /* background:url(../../img/school_room_filterd.jpg) no-repeat center center scroll; */
  background:url(../../img/white_room_bg.jpg) no-repeat center center scroll;
}

.apps {
  font-family: "Comic Sans MS";
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}

.fa-bell-large {
  font-size: 120px;
  color: goldenrod;
  padding-bottom: 15px;
}

.fa-bell-large:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.header_min{
  text-align: center;
  font-family:"Comic Sans MS";
  font-size:35px;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.container {
  /* color: #fff; */
}

.input-group{
  width: 100px;
  margin:auto;
  padding-top:5px;
}

#countdisplay{
  font-size:150px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.label-danger{
  background-color: darkred;
}
.label-danger:hover{
  background-color: maroon;
  cursor:pointer;
}
