.apps {
  text-align: center;
  height: 400px;
  width: 720px;
  margin: auto;
  background: url(../img/bg-img.jpg) no-repeat center center scroll;
  background-size: cover;
}

.gamescreen {
  width: 100%;
  height: 80%;
  background-color: rgba(0,0,0,0.5);
}

.waku {
  text-align: center;
  width: 75%;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

.fa-gamebutton {
  font-size: 75px;
  color: white;
}

.fa-gamebutton:hover {
  color: gray;
}

#mondai_finish {
  color: #bdbdbd;
}

#mondai_left {
  color: #fff;
}

#gamemessage {
  color: #dc143c;
}
